--find-links https://data.pyg.org/whl/torch-2.5.1+cu124.html

numpy==1.24.0
matplotlib==3.6.2
tianshou==1.0.0
pytest~=7.2.0
pygame~=2.1.2
torch~=2.5.1
networkx~=2.8.8
torch-geometric~=2.2.0
optuna~=3.2.0
gymnasium
pettingzoo
optuna-dashboard
wandb
plotly
pandas
scipy

pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
